@charset "UTF-8";
* {
  font-size: 12px;
  color: #000; }

/**基础样式**/
a {
  color: #16A05F;
  font-size: 12px; }

body, html {
  background: #eeeded;
  height: 100%; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.clearfix:after {
  content: "\0020";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

.clear {
  clear: both; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  /* 如果你不需要考虑IE6，则可以把这行与下一行代码删除 */
  height: 100%;
  margin: 0 auto -80px; }

.container-fluid {
  width: 100%;
  min-width: 1200px; }

.container {
  width: 1170px;
  padding: 0px 15px;
  margin: auto; }

/**组件样式**/
.header {
  background: #333333;
  height: 60px; }
  .header .logo {
    display: inline-block;
    width: 110px;
    height: 60px;
    margin-right: 60px; }
    .header .logo img {
      margin-top: 10px; }
  .header nav {
    display: inline-block;
    height: 60px;
    vertical-align: top; }
    .header nav li {
      position: relative;
      display: inline-block;
      margin-right: 40px;
      cursor: pointer;
      height: 60px;
      float: left;
      line-height: 60px; }
      .header nav li a {
        font-size: 14px;
        color: #fff;
        margin-right: 5px; }
      .header nav li .arrow-icon {
        width: 8px;
        height: 8px;
        border-top: 1px solid #c1c1c1;
        border-left: 1px solid #c1c1c1;
        display: inline-block;
        -webkit-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
                transform: rotate(-135deg);
        -webkit-transition: -webkit-transform .4s ease-out;
                transition: transform .4s ease-out;
        margin-bottom: 2px; }
      .header nav li:hover {
        color: #16A05F; }
        .header nav li:hover a {
          color: #16A05F;
          text-decoration: none; }
        .header nav li:hover .arrow-icon {
          border-top: 1px solid #16A05F;
          border-left: 1px solid #16A05F;
          -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
          margin-bottom: -2px; }
        .header nav li:hover .submenu {
          display: block; }
      .header nav li .submenu {
        width: 280px;
        display: block;
        position: absolute;
        background: #fff;
        display: none;
        z-index: 9; }
        .header nav li .submenu h3 {
          margin: 10px 0;
          padding: 0 15px;
          background: #fafafa;
          height: 28px;
          line-height: 28px;
          font-weight: 300; }
        .header nav li .submenu a {
          display: block;
          height: 30px;
          line-height: 30px;
          padding: 0 15px;
          margin: 0px;
          color: #333;
          font-size: 12px; }
          .header nav li .submenu a:hover {
            color: #16A05F; }
          .header nav li .submenu a i {
            width: 14px;
            height: 14px;
            margin-right: 10px;
            display: inline-block;
            background: #333;
            vertical-align: middle;
            margin-bottom: 2px; }
  .header .nav-right-box {
    display: inline-block;
    height: 60px;
    float: right; }
    .header .nav-right-box .search {
      cursor: pointer;
      position: relative;
      margin-top: 11px;
      margin-bottom: 11px;
      display: inline-block; }
      .header .nav-right-box .search #keywords {
        border: 1px solid #787d82;
        height: 28px;
        padding: 4px;
        width: 280px;
        background: #fff;
        color: #000;
        font-size: 14px;
        border-radius: 5px; }
      .header .nav-right-box .search .icon-search {
        position: absolute;
        right: 10px;
        font-size: 20px;
        font-weight: bold;
        line-height: 38px; }
      .header .nav-right-box .search:hover #keywords {
        border-color: #16A05F; }
      .header .nav-right-box .search:hover .icon-search {
        color: #16A05F; }
    .header .nav-right-box #login-area {
      display: inline-block;
      vertical-align: middle; }
      .header .nav-right-box #login-area ul li {
        float: left;
        height: 60px;
        line-height: 60px; }
        .header .nav-right-box #login-area ul li a {
          font-size: 14px;
          text-decoration: none;
          display: block;
          padding: 0 15px; }
        .header .nav-right-box #login-area ul li:hover {
          background: #16A05F; }
          .header .nav-right-box #login-area ul li:hover a {
            color: #fff; }
      .header .nav-right-box #login-area .header-signin {
        margin-left: 30px; }

/***遮罩层***/
.custom-modal {
  display: none; }
  .custom-modal .mask {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    background-color: #000; }
  .custom-modal .form-modal {
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    background: #fff; }
    .custom-modal .form-modal .form-container-modal {
      padding: 20px 50px 30px 50px;
      border-bottom: 1px solid #ecf2f5; }
      .custom-modal .form-modal .form-container-modal span {
        display: block; }
        .custom-modal .form-modal .form-container-modal span .icon-close {
          float: right;
          font-size: 24px;
          font-weight: bold;
          color: #ccc;
          cursor: pointer; }
      .custom-modal .form-modal .form-container-modal .title .fl {
        font-size: 30px;
        line-height: 40px;
        color: #292929;
        float: left; }
      .custom-modal .form-modal .form-container-modal .title .fr {
        font-size: 18px;
        line-height: 50px;
        color: #707070;
        float: right; }
        .custom-modal .form-modal .form-container-modal .title .fr a {
          font-size: 18px;
          line-height: 50px;
          color: #FF4200;
          margin-left: 5px; }
      .custom-modal .form-modal .form-container-modal .msg_warning {
        display: none;
        height: 20px;
        line-height: 20px;
        background: #ff7200;
        color: #fff;
        padding: 5px 10px;
        text-align: center;
        font-size: 12px;
        margin-top: 3px; }
      .custom-modal .form-modal .form-container-modal .form input {
        display: block;
        height: 14px;
        line-height: 14px;
        width: 100%;
        border: #DAE2E5 1px solid;
        text-indent: 10px;
        overflow: hidden;
        color: #979696;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: 15px;
        margin-bottom: 10px; }
        .custom-modal .form-modal .form-container-modal .form input:focus {
          border-color: #ff9600; }
      .custom-modal .form-modal .form-container-modal .frombtn {
        margin-top: 15px; }
        .custom-modal .form-modal .form-container-modal .frombtn button {
          width: 130px;
          height: 40px;
          line-height: 40px;
          color: #fff;
          background: #70CA10;
          display: block;
          text-align: center;
          font-size: 20px;
          border: none;
          cursor: pointer;
          margin-right: 20px; }
        .custom-modal .form-modal .form-container-modal .frombtn .login, .custom-modal .form-modal .form-container-modal .frombtn .regsiter {
          float: left; }
        .custom-modal .form-modal .form-container-modal .frombtn .remember {
          margin-top: 5px;
          float: left;
          margin-top: 10px;
          margin-right: 15px; }
          .custom-modal .form-modal .form-container-modal .frombtn .remember span {
            display: inline-block;
            vertical-align: middle; }
        .custom-modal .form-modal .form-container-modal .frombtn .forget {
          float: left;
          margin-top: 11px; }
    .custom-modal .form-modal .form-modal-footer {
      padding: 30px 50px; }
      .custom-modal .form-modal .form-modal-footer h4 {
        color: #6B6A6A;
        font-weight: 500;
        margin-bottom: 20px; }
      .custom-modal .form-modal .form-modal-footer ul li {
        display: block;
        float: left;
        margin-bottom: 10px;
        margin-right: 20px; }
        .custom-modal .form-modal .form-modal-footer ul li a {
          display: block;
          float: left;
          height: 40px;
          line-height: 40px;
          width: 160px;
          color: #fff;
          text-indent: 60px; }
      .custom-modal .form-modal .form-modal-footer ul #sinal a {
        background: #d63b22 url(../images/share/weibo.png) no-repeat 0px -5px; }
      .custom-modal .form-modal .form-modal-footer ul #qq a {
        background: #3eb0d8 url(../images/share/qq.png) no-repeat 0px -5px; }

#index .content {
  position: relative; }
#index .course-list .ui-img-hover:nth-child(5n+0) {
  margin-right: 0px; }
#index .course-list .ui-img-hover:nth-child(n+6) {
  margin-bottom: 0px; }
#index .course-list .ui-img-hover {
  float: left;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 23px;
  margin-bottom: 23px;
  width: 215px;
  height: 145px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  -webkit-transition: .3s;
          transition: .3s;
  position: relative; }
  #index .course-list .ui-img-hover:hover {
    box-shadow: 0 14px 22px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px); }
  #index .course-list .ui-img-hover a {
    display: block;
    position: relative;
    width: 215px;
    height: 145px;
    border-radius: 8px; }
    #index .course-list .ui-img-hover a img {
      width: 100%;
      height: 100%;
      border-radius: 8px; }
  #index .course-list .ui-img-hover .item-tag {
    position: absolute;
    bottom: 0;
    width: 202px;
    height: 60px;
    background: #fff;
    padding-left: 13px;
    font-size: 12px;
    z-index: 8;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
    #index .course-list .ui-img-hover .item-tag .item-tag1 {
      margin-top: 13px;
      color: #000;
      font-weight: bold;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    #index .course-list .ui-img-hover .item-tag .item-tag2 {
      margin-top: 3px;
      color: #b5b5b5;
      padding-left: 14px;
      box-sizing: border-box;
      background: url(../images/ui-per.png) center left no-repeat; }
#index .comment-title {
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 50px; }
  #index .comment-title span {
    color: #2b2a2a;
    font-size: 24px;
    background: #eeeded;
    position: relative;
    bottom: -16px;
    padding: 5px 35px; }
#index .news-list ul li {
  width: 585px;
  float: left;
  height: 180px; }
  #index .news-list ul li span {
    display: block;
    height: 130px;
    width: 235px;
    float: left; }
    #index .news-list ul li span img {
      width: 100%;
      height: 100%; }
  #index .news-list ul li .news-content {
    float: left;
    width: 300px;
    padding-left: 25px;
    padding-right: 25px; }
    #index .news-list ul li .news-content h3 {
      text-align: left;
      margin-bottom: 10px; }
      #index .news-list ul li .news-content h3 a {
        font-size: 18px;
        color: #545454;
        text-decoration: none; }
    #index .news-list ul li .news-content .new-description a {
      color: #666;
      margin-bottom: 10px;
      cursor: pointer;
      text-decoration: none; }
    #index .news-list ul li .news-content .news-date {
      color: #666; }
#index .swiper-container {
  height: 270px;
  width: 100%; }
#index .story-content {
  width: 100%;
  height: 121px;
  border: 1px solid #e9e9e9;
  background: #fff;
  position: relative; }
  #index .story-content:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 47px; }
  #index .story-content p {
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 20px;
    padding: 20px 25px;
    text-align: left; }
    #index .story-content p:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 10px;
      background: url(../images/quotes.png) no-repeat center;
      background-size: 14px 10px;
      position: absolute;
      top: 10px;
      left: 10px; }
    #index .story-content p:after {
      content: '';
      display: inline-block;
      width: 14px;
      height: 10px;
      background: url(../images/quotes.png) no-repeat center;
      background-size: 14px 10px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
#index .story-info {
  height: 80px;
  padding-left: 95px;
  padding-top: 28px;
  position: relative; }
  #index .story-info img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e9e9e9; }
  #index .story-info p {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    text-align: left; }
  #index .story-info span {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    text-align: left; }
#index .swiper-pagination-bullet-active {
  background: #16A05F;
  border-radius: 0;
  width: 16px;
  height: 8px; }
#index .swiper-pagination-bullet {
  border-radius: 0px; }

.body-content {
  margin-top: 20px; }

#banner {
  width: 1170px;
  height: 460px; }

#banner, .vui-slider {
  overflow: hidden; }

.path-banner {
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 120px;
  overflow: hidden;
  width: 1170px;
  box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1); }
  .path-banner a {
    float: left;
    height: 120px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 234px; }
    .path-banner a:hover {
      margin-top: -4px; }
  .path-banner img {
    border: 0 none;
    display: block;
    height: 100%;
    width: 100%; }

.title-box {
  padding: 25px 0px; }
  .title-box .tit-txt {
    float: left;
    font-size: 16px;
    color: #333333; }
  .title-box a {
    float: right;
    text-decoration: none; }
    .title-box a span {
      height: 18px;
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      color: #333333; }
    .title-box a .tit-tag {
      display: inline-block;
      vertical-align: middle;
      width: 12px;
      height: 12px;
      background: url(../images/tit.png) no-repeat; }

.footer {
  background: #333333;
  border-top: 1px solid #e2e4e6;
  font-size: 12px;
  color: #787d82;
  margin-top: 60px; }
  .footer .Copyright {
    text-align: center;
    font-size: 24px; }
    .footer .Copyright p {
      font-size: 12px;
      color: #fff;
      margin-top: 25px; }

.footer, .push {
  height: 80px; }

/*# sourceMappingURL=common.css.map */